@import '../../../styles/variables.scss';

.navbar {
  display: grid;
  grid-template-rows: 100px;
  grid-row: 1;
  grid-template-columns: 1fr 100px;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 12;
  transition: background 0.3s ease-in-out;

  @media screen and (min-width: $min-desktop-width) {
    grid-template-columns: 1fr 1180px 1fr;
    grid-template-rows: 120px;
  }

  $this: &;

  &__background {
    grid-row: 1;
    grid-column: -1 / 1;
    background-color: $white;
  }

  &__sticky {
    background-color: rgba(209, 225, 255, 0.8);
    height: 100%;
  }

  &__elements {
    grid-column: 1;
    grid-row: 1;

    @media screen and (min-width: $min-desktop-width) {
      grid-column: 2;
    }
  }

  &__mobile {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;

    @media screen and (min-width: $min-desktop-width) {
      display: none;
      grid-column: unset;
    }
  }
}
