@import '../../../styles/variables.scss';

.button-link {
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $blue;
  color: $primary-gray-blue;
  transition: all 0.2s ease-in-out;
  border: 1px solid $primary-gray-blue;

  &:hover {
    transform: scale(1.1);
  }
}
