@import '../../../styles/variables.scss';

.button-link {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $dark-blue;
  transition: all 0.2s ease-in-out;
  border: 1px solid $dark-blue;

  &:hover {
    border: 1px solid $white;
    background-color: $dark-blue;
    color: $white;
  }
}
