.article {
  display: grid;
  row-gap: 15px;

  &__title {
    font-size: 32px;
  }

  &__content {
    display: grid;
    row-gap: 15px;

    &--item {
      font-size: 16px;
      line-height: 25px;
      text-align: justify;
    }
  }
}
