@import '../../../styles/variables.scss';

.horizontalTile {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto auto;
  row-gap: 25px;

  @media screen and (min-width: $min-desktop-width) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 575px 30px 575px 1fr;
  }

  &__image {
    grid-row: 1;
    max-height: 400px;

    &--left {
      grid-column: 2;
    }

    &--right {
      grid-column: 2;

      @media screen and (min-width: $min-desktop-width) {
        grid-column: 4;
      }
    }
  }

  &__content {
    grid-row: 2;
    grid-column: 2;

    @media screen and (min-width: $min-desktop-width) {
      grid-row: 1;
      place-self: center;

      &--left {
        grid-column: 2;
      }

      &--right {
        grid-column: 4;
      }
    }
  }
}
