@import '../../../../styles/variables.scss';

.headline-details {
  grid-column: 2;
  display: grid;
  row-gap: 25px;
  align-items: center;
  padding: 40px 0;

  &__title {
    font-size: 40px;
    font-weight: 500;
    grid-row: 2;
    color: $white;
  }

  &__publication {
    grid-row: 3;
    display: grid;
    row-gap: 5px;
    align-content: space-evenly;
    height: 100%;
  }

  &__row {
    font-size: 16px;
    color: $white;

    &--bold {
      font-weight: 500;
    }
  }
}
