@import './variables.scss';

body {
  font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

input {
  background-color: $white;
}
