@import './variables.scss';

body {
  font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $light-gray;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: $light-gray;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $dark-blue;
  }
}

a {
  text-decoration: none;
}

input {
  background-color: $white;
}
