// colors
$primary-color: #2980b9;
$secondary-color: #6dd5fa;
$black: #000000;
$white: #ffffff;

$nav-background: #bdff87;
$nav-bar-background: #71b33b;
$nav-item-color: #000000;

// dimensions
$max-mobile-width: 768px;
$max-tablet-width: 991px;
