// colors
$black: #000000;
$white: #ffffff;
$blue: #85afff;

$light-gray: #a5b2c9;
$dark-gray: #697180;

$light-blue: #d1e1ff;
$dark-blue: #425880;

$light-green: #a6d687;
$light-red: #d6878b;

// dimensions
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$min-desktop-width: 992px;
$min-large-desktop-width: 1200px;

$key-font-family: 'Pattaya', 'Laila', 'IBM Plex Serif', 'Rubik', Helvetica,
  Arial, Lucida, sans-serif;
$normal-font-family: 'IBM Plex Serif', 'Rubik', Helvetica, Arial, Lucida,
  sans-serif;
$headline-font-family: 'Laila', 'IBM Plex Serif', 'Rubik', Helvetica, Arial,
  Lucida, sans-serif;
