// colors
$black: #000000;
$white: #ffffff;
$blue: #66ccff;

$primary-black-blue: #000033;
$secondary-black-blue: #003366;

$primary-gray-blue: #006699;
$secondary-gray-blue: #3399cc;

$primary-white-blue: #99ffff;
$secondary-white-blue: #ccffff;

// dimensions
$max-mobile-width: 768px;
$min-tablet-width: 769px;
$min-desktop-width: 1201px;
