@import '../../styles/variables.scss';

.layout {
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 1fr;

  &__navbar {
    grid-row: 1;
    grid-column: 1;
  }

  &__content {
    background-color: rebeccapurple;
    grid-row: 2;
    grid-column: 1;
  }

  &__footer {
    background-color: salmon;
    grid-row: 3;
    grid-column: 1;
  }
}
