.layout {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;

  display: grid;
  grid-template-rows: auto 80px auto auto;
  grid-template-columns: 1fr;

  &__navbar {
    grid-row: 1;
    grid-column: 1;
  }

  &__content {
    background-color: rebeccapurple;
    grid-row: 3;
    grid-column: 1;
  }

  &__footer {
    background-color: salmon;
    grid-row: 4;
    grid-column: 1;
  }
}
