@import '../../styles/variables.scss';

.layout {
  min-height: 101vh;
  display: grid;
  grid-template-rows: 100px 0px auto 50px;
  grid-template-columns: 20px 1fr 20px;

  @media screen and (min-width: $min-large-desktop-width) {
    grid-template-columns: 1fr 1180px 1fr;
  }

  &--home {
    grid-template-rows: 0 0px auto 50px;
  }

  &__navbar {
    grid-row: 1;
    grid-column: -1 / 1;
  }

  &__breadcrumbs {
    grid-row: 2;
    grid-column: 2;
  }

  &__content {
    grid-row: 3;
    grid-column: -1 / 1;
  }

  &__footer {
    grid-row: 4;
    grid-column: -1 / 1;
  }
}
