.zone {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 20px;

  &__image {
    max-height: 200px;
  }

  &__name {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }
}
