@import '../../../styles/variables.scss';

.tile {
  display: grid;
  grid-template-rows: 300px auto;
  height: 550px;
  width: 100%;
  box-shadow: 0px 0px 6px 3px rgba(66, 88, 128, 0.5);
  border-radius: 10px;
  cursor: pointer;
  color: $black;

  &:hover {
    transition: transform 0.2s ease-in-out;
    background-color: $light-blue;
  }

  &:hover &__image {
    opacity: 0.5;
  }

  &:hover &__image-overlay {
    display: grid;
    grid-row: 1;
    grid-column: 1;
  }

  @media screen and (min-width: $min-tablet-width) {
  }

  @media screen and (min-width: $min-large-desktop-width) {
  }

  &__image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__image-overlay {
    display: none;
    place-items: center;

    svg,
    span {
      color: $dark-gray;
      font-size: 70px;
    }
  }

  &__content {
    grid-row: 2;
    grid-column: 1;
    padding: 15px;
  }
}
