@import '../../../styles/variables.scss';

.tile {
  display: grid;
  grid-template-rows: 300px auto;
  height: 550px;
  width: 100%;
  box-shadow: 0px 0px 6px 3px rgba(66, 88, 128, 0.5);
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }

  @media screen and (min-width: $min-tablet-width) {
  }

  @media screen and (min-width: $min-large-desktop-width) {
  }

  &__image {
    grid-row: 1;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__content {
    grid-row: 2;
  }
}
