@import '../../../styles/variables.scss';

.tile {
  display: grid;
  grid-template-rows: 4fr 2fr;
  height: 550px;
  width: 100%;
  border: 1px solid black;

  @media screen and (min-width: $min-tablet-width) {
  }

  @media screen and (min-width: $min-desktop-width) {
  }

  &__image {
    grid-row: 1;
    background-color: red;
    width: 100%;
  }

  &__title {
  }
}
