@import '../../../../../../styles/variables.scss';

.mobile-menu-link {
  align-self: center;
  justify-self: center;
  color: $dark-blue;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;

  &--active {
    color: $light-red;
  }
}
