@import '../../styles/variables.scss';

.home {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto auto auto 20px;
  row-gap: 50px;

  @media screen and (min-width: $min-desktop-width) {
    grid-template-columns: 1fr 1200px 1fr;
  }

  &__welcome {
    grid-column: -1 / 1;
    grid-row: 1;
  }

  &__articles {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    row-gap: 50px;
  }
}
