@import '../../../../../../styles/variables.scss';

.navbar-link {
  padding: 32px 0px;
  text-align: center;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__item {
    transition: all 0.2s ease-in-out;
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: 500;

    &--active {
      color: $light-red;
    }
  }
}
