@import '../../../styles/variables.scss';

.footer {
  display: grid;
  height: 100%;
  background-color: $light-blue;

  &__text {
    justify-self: center;
    align-self: center;
    color: $dark-blue;
    text-align: center;
    line-height: 25px;
  }
}
