@import '../../../styles/variables.scss';

.box-with-circle-image {
  display: grid;
  position: relative;
  height: auto;
  width: 100%;
  border: 3px solid $dark-blue;
  box-shadow: 0px 0px 6px 3px rgba(66, 88, 128, 0.5);
  border-radius: 10px;
  background-color: $white;

  @media screen and (min-width: $min-tablet-width) {
    height: 400px;
  }

  @media screen and (min-width: $min-large-desktop-width) {
    height: 300px;
  }

  &__wrapper {
    margin-top: 85px;
    padding: 25px;
    display: grid;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    max-height: 100%;
    overflow: hidden;
    color: $black;
  }

  &__circle {
    border-radius: 50%;
    background-color: white;
    width: 170px;
    height: 170px;
    position: absolute;
    top: -85px;
    justify-self: center;
    box-shadow: 0px 0px 6px 3px rgba(66, 88, 128, 0.5);
  }
}
