@import '../../../styles/variables.scss';

.breadcrumbs {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  justify-content: start;

  &__link {
    color: $dark-gray;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &--disabled {
      color: $dark-blue;
      pointer-events: none;
      cursor: default;
      font-weight: 500;
    }
  }

  &__separator {
    color: $light-gray;
    padding: 0 5px;
  }
}
