@import '../../../styles/variables.scss';

.horizontalTiles {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto auto;
  grid-auto-flow: column;

  @media screen and (min-width: $min-desktop-width) {
    grid-template-columns: 1fr 1180px 1fr;
  }

  &__tile {
    grid-column: -1 / 1;
  }
}
