@import '../../styles//variables.scss';

.about-me {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr;

  @media screen and (min-width: $min-desktop-width) {
    grid-template-columns: 1fr 1200px 1fr;
  }

  &__content {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    row-gap: 25px;

    @media screen and (min-width: $min-desktop-width) {
      margin: 0 20px;
    }
  }
}
